{% extends 'templates/myproject/base.html' %}
{% load static %}
{% block content %}


<div class="cont" id='contac'>
  <br/>
  <div class='ques'>Any message for me? :)</div>

  <form method="post" action="/" class ='fom'>
      {% csrf_token %}
      <label class = 'en'>Enter message: </label>
      <br/>
      {{form}}
      <br/>
      <input class="btn" type="submit" value="Submit" id='bu'>
  </form>
  <div class='msg'>Message from visitor:</div>
  <br/>
  <div class = 'fom'>
    {% for entry in n %}
      <div class='kotak'>{{entry}}</div>
      <br/>
    {% endfor %}
  </div>
</div>

{% endblock %}
